<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


  <!-- if scope is not set,it is singleton by default -->
  <bean id="customer" class="com.wangfengbabe.learning_spring.beanbasic.beanScope.Customer" scope="singleton">
  </bean>
</beans>