<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--静态资源访问-->
    <!--所有以路径/learning/spring/inaction/style开头的请求都会自动y由应用程序根目录下的/WEB-INF/springinaction/css目录提供服务-->
    <mvc:resources mapping="/learning/style/**" location="/css/"/>
    <mvc:resources mapping="/learning/javascript/**" location="/js/"/>
    <mvc:resources mapping="/learning/image/**" location="/image/"/>

    <!--如果不配置处理器映射bean
        (BeanNameUrlHandlerMapping,ControllerBeanNamedHanderMapping,ControllerClassNamedHanderMapping,DefaultAnnotationHandlerMapping,SimpleUrlHandlerMapping)
        DispatcherServlet 将创建并使用BeanNameUrlHandlerMapping 和 DefaultAnnotationHandlerMapping
        因此在此不配置处理器映射bean,使用 DefaultAnnotationHandlerMapping
    -->
    <!--处理器映射使用注解驱动的bean DefaultAnnotationHandlerMapping,实现注解驱动的 spring mvc 并不是仅仅将请求映射到方法上
        ,在构建控制器的时候,还需要使用注解将请求参数绑定到控制器的方法参数上进行校验及信息转换。
    -->
    <mvc:annotation-driven/>

    <context:component-scan base-package="com.wangfengbabe.learning.controller"/>

    <!--//TODO 配置多个视图解析-->
    <!--Dispatcher 要求 InternalResourceViewResolver 解析controller返回的视图-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--通过设置viewClass属性将InternalResourceViewResolver替换为JstlView,解析jsp页面中使用的JSTL标签-->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:maxUploadSize="5000000">

    </bean>


</beans>